.draw.draw-box {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid rgba(58, 153, 216, .3);
}

.draw.draw-box .draw-drag {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    background: #3498db;
    cursor: pointer;
}

.draw.draw-box .draw-resize {
    position: absolute;
    right: -2px;
    bottom: -2px;
    width: 10px;
    height: 10px;
    border: 4px solid #3498db;
    border-top: none;
    border-left: none;
    cursor: nwse-resize;
}
